@tailwind base;
@tailwind components;
@tailwind utilities;


.face {
  max-width: 25%;
  border-radius: 5%;
  margin-right: 3%;
}

.about-me {
  display: flex;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.text {
  margin-top: 1%;
}

a:hover {
  color: #FFC107 !important
}

.languages {
  display: flex;
  justify-content: space-evenly;
  margin-right: 60%;
}

.btn {
  background-color: #f1f1f1 !important;
}
